/* Generale */
*{
    box-sizing:border-box;
}
body{
    margin:0;
	background-color:var(--mainColor);
}
a{
	text-decoration:none;
	color:var(--dark);
}
.conteneur{
	margin:0 auto;
	padding:0 8px;
	max-width:1440px;
	min-width:320px;
}
h1, h2{
	font-family:var(--title);
	font-size:50px;
	font-weight:400;
	padding-left:20px;
	margin-top:5px;
}
h2{
	font-size:40px;
}
li{
	list-style-type:none;
	font-family:var(--text);
	font-size:20px;
}

/* Header */
.header{
	background-color:var(--mainColorHF);
	position:relative;
	z-index:11;
}
.header-conteneur, ul{
	display:flex;
	flex:1;
	justify-content:space-around;
	align-items:center;
}
.header span{
	font-family:var(--title);
	font-size:16px;
}
.header-logo{
	display:block;
	width:50px;
}
.header-logo img{
	width:100%;
	height:auto;
	display:block;
}
.btn-burger{
	width:48px;
	height:48px;
	font-size:40px;
	color:var(--dark);
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
}
.menu-fond{
	position:fixed;
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	z-index:10;
	background-color:rgba(0,0,0,.75);
}
.main-menu{
	position:absolute;
	top:100%;
	left:-100%;
	z-index:1;
	width:100%;
}
.main-menu ul{
	padding:0;
	margin:0;
	list-style:none;
}
.main-menu a{
	width:100%;
	display:block;
	padding:20px 10px;
	text-align:center;
	text-decoration:none;
	color:var(--dark);
	font-size:20px;
	line-height:100%;
}

/* RESPONSIVE */
/* TABLETTE */
@media all and (min-width:760px) {
	
}
/* ORDINATEUR PORTABLE */
@media all and (min-width:1024px) {
	.header{
		position:fixed;
		top:0;
		left:0;
		z-index:1;
		width:100%;
	}
	.header-conteneur{
		padding:0;
		display: flex;
		margin:0;
	}
	.header span{
		font-size: 40px;
	}
	.header-logo{
		width:100px;
		margin:0;
	}
	.main-menu{
		width:calc(100% - 660px);
		position:static;
	}
	.btn-burger,.menu-fond{
		display:none;
	}
}
/* ORDINATEUR FIXE */
@media all and (min-width:1440px) {
	
}