:root {
    /* Fonts */
    --title: 'Pinyon Script', cursive;
    --text: 'Montserrat', sans-serif;
    
    /* Colors */
    --mainColor: rgb(191, 187, 217);
    --dark: rgb(0,0,0);
    --light: rgb(255, 255, 255);
    --btnColor: rgb(195, 64, 139);


}